{% load static %}
{% comment %} start navbar {% endcomment %}
<div class="container mx-auto">
  <div class="navbar bg-base-100 mb-8 relative">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"
            />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box shadow-lg z-50 mt-3 w-52 p-2"
          style="position: absolute; top: 100%; left: 0;"
        >
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>
            <a href="{% url 'olshopthrift:index' %}">Product</a>
            <ul class="p-2 bg-base-100 rounded-box shadow-md">
              <li><a href="{% url 'olshopthrift:kategori' 'diskon' %}">Diskon</a></li>
              <li><a href="{% url 'olshopthrift:kategori' 'flashsale' %}">Flash sale</a></li>
            </ul>
          </li>
          <li><a href="{% url "about" %}">Contact Us</a></li>
        </ul>
      </div>
      <a href="{% url 'index' %}" class="btn btn-ghost text-xl">Thrift Shop</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li>
          <details>
            <summary><a href="{% url 'olshopthrift:index' %}">Product</a></summary>
            <ul class="p-2 bg-base-100 rounded-box">
              <li><a href="{% url 'olshopthrift:kategori' 'diskon' %}">Diskon</a></li>
              <li><a href="{% url 'olshopthrift:kategori' 'flashsale' %}">Flash sale</a></li>
            </ul>
          </details>
        </li>
        <li><a href="{% url "about" %}">Contact Us</a></li>
      </ul>
    </div>
    
  </div>
  <!-- Tambahkan padding-top pada konten utama untuk memberi jarak dari navbar -->
  <div class="main-content pt-16">
    {% block content %}
    <!-- Konten utama di sini -->
    {% endblock content %}
  </div>
</div>
