{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{judul}}{% endblock title %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% include "snippets/navbar.html" %}
    {% comment %} endnavbar {% endcomment %} 
    {% block content %} 
    {% endblock content %}
    {% include "snippets/footer.html" %}
  </body>
</html>
